.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-container > h3 {
  padding: 10px;
  min-width: 300px;
  max-width: 900px;
  text-align: center;
  text-align: justify;
}

hr {
  width: 70%;
}