.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



h1 {
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 25px;
  display: flex;
  text-align: center;

}

.img  {
  width: 27%;
  height: 70%;
}

.img > #me {
  display: flex;
  border-radius: 5%;
  max-height: 100vh;
  width: 260px;
  height: 350px;
}