.project-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

.project-container > ul {
  display: flex;
  justify-content: center;
}

ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  box-shadow: -1px 5px 19px -5px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(255, 255, 255, 0.25);
  border-radius: 5%;
  width: 600px;

}

h1 {
  color: white
}

h2 {
  color:  white;
}

h3 {
  color: white;
}

ul > .members {
  margin: 2px;
}

.members {
  color: white;
}

ul > p {
  color: white;
  width: 100%;
}

#description {
  align-items: center;
  text-align:justify;
  justify-content: center;
}

.project-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.project-link:hover {
  font-size: 17px;
  color: #F96E4E;
}

.project-container >img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  max-width: 500px;
}

@media only screen and (max-width: 800px) {
  .project-container > ul {
    width: 100%;
  }

  ul > p {
    font-size: 14px;
    width: 100%;
  }

  .project-img {
    max-height: 200px; 
  }
}