.app > nav {
  display: flex;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

nav {
  font-family: 'Staatliches', cursive;
  padding: 15px;
  font-size: calc(10px + 2vmin);
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.app-header {
  width: 100%;
  box-sizing:border-box;
  display: flex;
  justify-content: flex-end;
  text-align: center;

}

.App-link {
  font-size: 30px;
  text-decoration: none;
  padding: 20px;
  color: white;
}

.App-link:hover {
  color: #F96E4E;
  font-size: 32px;
}

@media only screen and (max-width: 800px) {
  .app-header > nav {
    height: 100%;
    width: 100%;
  }

  nav {
    margin: 0;
  }

  .App-link {
    font-size: 24px;
  }

  #contact {
    display: none;
  }
  
}
